@model IEnumerable<WebApp_DBFirst.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Products Table</h2>

@if (Model != null && Model.Any())
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-info">No products found.</div>
}